<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="MyFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Android\Python27\python2.exe|D:\website\0_Project\itam-master\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
